*{
    list-style-type: none;
    text-decoration: none;
    border: 0;
    margin: 0;
    padding: 0;
}
#navbar{
    position: relative;
    height: 425px;
    overflow: hidden;
}

#rightMenu{
    margin-top: 50px;
}
#right{
    position: fixed;
    z-index: 4;
    width: 150px;
    height: 100vh;
    line-height: 270%;
    right: -150px;
    top: 0;
    background-image: linear-gradient(#4d8e53 , #242424 );
    transition: right 0.5s;
    transition-timing-function: cubic-bezier(.96,.06,.18,.76);
}
#right li{
    transition: 0.5s;
}
#right li:hover{
    background-color: rgba(167, 176, 184 , 0.7);
}
.statusZero{
    right: 0 !important;
}

#rightMenu a{
    color: white;
    display: block;
    padding-left: 15px;
    font-size: 25px;
}
#left{
    position: absolute;
    left: 15px;
    top: 10px;
    z-index: 3;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    transition: 0.5s;
}
#left:hover{
    background-color: #004f04;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}
#left a{
    color: white;
    font-size: 25px;
    display: block;
    padding: 9px 8px 9px 5px;
}
#threeLine{
    background-color: #4d8e53;
    position: fixed;
    z-index: 4;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 0;
    cursor: pointer;
    transition: right 0.5s;
    border-radius: 10px 0 0 10px;
    padding-top: 5px;
    transition-timing-function: cubic-bezier(.76,-0.48,0,1.5);
}
.statusRight{
    right: 150px !important;
}
#shortWidth{
    height: 2px;
    width: 17px;
    transition: width 0.5s;
}
#threeLine:hover #shortWidth{
    width: 25px;
}
.width{
    width: 25px;
    height: 2px;
    background-color: rgb(228, 225, 225);
    margin: 5px 3px;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.firstLine{
    transform: rotate(45deg) translateX(5px);
}
.thirdLine{
    transform: rotate(-45deg) translateX(5px);
}
.secondLine{
    display: none;
}

#navbar::after{
    content: '';
    background-position: center;
    background-color: #4d8e53;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.2px);
    width: 100%;
    height: 400px;
    transform: skewY(-5deg);
    position: absolute;
    top: -62px;
}
#relationship{
    position: absolute;
    z-index: 3;
    top: 318px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}
.logoMenu{
    font-size: 35px;
    padding: 0 10px;
    transition: 0.3s;
}
#telegram{
    color: lightseagreen;
}
#instagram{
 color: lightcoral;
}
#facebook{
    color: lightblue;
}
#linkdin{
    color: blue;
}
#instagram:hover{
    transform: scale(1.07);
    text-shadow: 0 0 5px rgb(109, 3, 3);
}
#telegram:hover{
    transform: scale(1.07);
    text-shadow: 0 0 5px rgb(52, 86, 196);
}
#facebook:hover{
    transform: scale(1.07);
    text-shadow: 0 0 5px rgb(151, 186, 214);
}
#linkdin:hover{
    transform: scale(1.07);
    text-shadow: 0 0 5px rgb(26, 3, 109);
}
#background{
    max-width: 220px;
    backdrop-filter: blur(4.2px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    border-radius: 7px;
    transition: 0.3s;
}
#info{
    text-align: justify;
    margin-bottom: 10px;
    display: flex;
    font-size: 20px;
}
#basicInfo{
    line-height: 300%;
    text-align: center;
    transform: translateX(660px);
    transition: 0.5s;
    border: 2px solid #505050;
    padding: 5px;
}
#about{
    line-height: 200%;
    margin-bottom: 25px;
    transform: translateX(-660px);
    transition: 0.5s;
    border: 2px solid #505050;
    padding: 5px;
}
#info label{
    width: 130px;
    display: inline-block;
    font-weight: bold;
}
.about{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: -24px;
    padding: 3px;
    background-color: white;
    margin-left: 15px;
    display: inline-block;
}
.basic{
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: -34px;
    padding: 3px;
    background-color: white;
}
#info:first-child{
    order: 3;
}
.transformLeft{
    transform: translateX(0px) !important;
}
.transformRight{
    transform: translateX(0px) !important;

}
.scroll280{
    background-color: #4d8e53;
    top: 0;
    right: 0;
}
@media screen and (min-width: 920px){
    #right{
        position: fixed;
        margin: 0;
        line-height: normal;
        top: 0;
        right: 0;
        display: flex;
        justify-content: end;
        width: auto;
        height: auto;
        background-image: none;
}
#left{
    position: fixed;
    left: 15px;
    top: 2px;
    z-index: 3;
}
#right ul{
    margin-top: 9px;
}
#right li {
    display: inline-block;
}
#right a {
    padding: 4px 15px;
    transition: 0.4s;
}
#menu{
    width: 100%;
    height: 52px;
    position: fixed;
    z-index: 5;
}
#right a:hover{
    background-color: #004f04;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    transform: scale(1.05);
}
#threeLine{
    display: none;
}    
}
@media screen and (min-width:760px){
    #background{
        max-width: 270px;
    }
    .logoMenu{
        font-size: 45px;
    }
}